<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>File Uploader - coligo.io</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
  <script src="javascripts/web3.min.js"></script>
  <style >
    
    .some {background-color: red ;
    }

  </style>
</head>
<body class = "something">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            <h2>File Uploader</h2>
            <h4>coligo.io</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
            <button class="btn btn-lg upload-btn" type="button" id = "somes">Upload File</button>
          </div>
        </div>
        <!-- <div >
            <a href="javascripts/claim.html"  class="btn btn-primary" id= "button">Claim</a>
        </div> -->
      </div>
    </div>
  </div>
 <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
          <h2 style="color: black "> Apply For New Policy </h2>
          <br>
            <input type="text" id="ref_id" placeholder="Reference ID" />
            <input type="text" id="carrier" placeholder="Insurer"/>
            <input type="text" id="premium" placeholder="Premium"/><br><br>
            <a href="#" onclick="newRequest()" class="btn btn-primary" id= "button">Submit</a>
            <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br><br> 

            <input type="text" id="policyId" placeholder="Policy ID" />
            <input type="text" id="voterId" placeholder="Voter ID" />
            <a href="#" onclick="vote()" class="btn btn-primary" id= "button">Vote</a><br>
            <br>
            <input type="text" id="policyId1" placeholder="Policy ID" />
            <a href="#" onclick="status()" class="btn btn-primary" id= "button">Get Status</a>
        </div>
        </div>
        <!-- <div >
            <a href="javascripts/claim.html"  class="btn btn-primary" id= "button">Claim</a>
        </div> -->
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
          <h2 style="color: black "> Apply For Claim </h2>
          <br>
            <input type="text" id="ref_id" placeholder="Reference ID" />
            <input type="text" id="carrier" placeholder="Insurer"/>
            <input type="text" id="premium" placeholder="Premium"/>
            <br><br>
            <a href="#" onclick="newRequest()" class="btn btn-primary" id= "button">Submit</a>
            <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br><br> 

            <input type="text" id="policyId" placeholder="Policy ID" />
            <input type="text" id="voterId" placeholder="Voter ID" />
            <a href="#" onclick="vote()" class="btn btn-primary" id= "button">Vote</a><br>
            <br>
            <input type="text" id="policyId1" placeholder="Policy ID" />
            <a href="#" onclick="status()" class="btn btn-primary" id= "button">Get Status</a>
        </div>
        </div>
        <!-- <div >
            <a href="javascripts/claim.html"  class="btn btn-primary" id= "button">Claim</a>
        </div> -->
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascripts/upload.js"></script>

  <script src="javascripts/main.js"></script>
 
</body>
</html>
